# Vim temp files
*.swp

# Node installed modules
node_modules

# Logs
*.log

# Build files
public/build
*.hot-update.js
*.hot-update.json

# Secret environment variables
set_envs.sh

# sqlite test databases
*.sqlite
