# Vim temp files
*.swp

# Node stuff
node_modules
npm-debug.log*

# Logs
*.log

# Build files
*.hot-update.js
*.hot-update.json
public/build/*

# Secret environment variables
set_envs.sh

# sqlite test databases
*.sqlite
