extends layout

append head
  style.
    body {
      padding: 0;
      margin: 0;
    }
    html, body, #map {
        height: 80%;
        width: 100%;
    }

block content
  #map
  .container
    .row(style='padding-bottom: 3px;')
      .col-md-12.text-center
        h3 Can the sidewalks (blue) be connected without crossing a street?
    .row.buttonlist
      .col-md-4.col-md-offset-1.text-center
        button.btn.btn-primary#conn(style='width: 100%;')
          i.fa.fa-check
          p #[b Yes]
      .col-md-4.col-md-offset-2.text-center
        button.btn.btn-danger#Noconn(style='width: 100%;')
          i.fa.fa-ban
          p #[b No]
    .row
      br
      p #[b Guidelines]:
      table.table.table-bordered
        tr
          td: p Select #[b Yes]
          td: p When the blue lines should be a single sidewalk (they wouldn't cross the street).
        tr
          td: p Select #[b No]
          td: p When the blue lines should be considered separate sidewalks (e.g. a street separates them).
        tr
          td: p Get more info
          td: p By clicking on one of the blue lines (sidewalks)
        tr
          td: p Get more info
          td: p By selecting a satellite view (upper right corner)

  script(src='build/learnsidewalks-bundle.js')
  script.
      App(!{learn_url}, "!{user}");
