extends layout

block content
  .col-md-8.col-md-offset-2
    h2 Log in
    br
    form(action='/login', method='POST', style='max-width: 300px;')
      .form-group
        input.form-control(type='text', name='username', placeholder='Username')
        input.form-control(type='password', name='password', placeholder='Password')
        br
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Log in
        br
        a(href='/')
          button.btn.btn-lg.btn-default.btn-block(type='button') Cancel
