extends layout

append head
  style.
    body {
      padding: 0;
      margin: 0;
    }
    html, body, #map {
        height: 100%;
        width: 100%;
    }

block content
  #map(style="height: 100%;")

  script(src='javascripts/map-bundle.js')
  script.
      App(!{api_url});
