extends layout_wfooter

block content
  .container
    .row.text-center
      h1 !{ user.username }'s profile
      p This page will have your leaderboard stats and the ability to reset your password soon!
