.mapboxgl-ctrl-gradectrl,
.mapboxgl-ctrl-gradectrl *,
.mapboxgl-ctrl-gradectrl *:after,
.mapboxgl-ctrl-gradectrl *:before {
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}
.mapboxgl-ctrl-gradectrl {
  font: 15px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: white;
  z-index: 1;
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  padding: 5px;
}

.gradectrl-xlabel {
    text-align: center;
    margin: 0;
}

.grad-step {
    display: inline-block;
    height: 20px;
    width: 1px;
}

.gradectrl-grade-domain {
    height: 20px;
}

.domain-min {
  display: inline-block;
  text-align: left;
  width: 33%;
}

.domain-mid {
  display: inline-block;
  text-align: center;
  width: 33%;
}

.domain-max {
  display: inline-block;
  text-align: right;
  width: 33%;
}
